@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');


body{
    margin: 0;
    padding:0;
    background-color: #01226F;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 92%;
    height: fit-content;
    background-color: #FDFBEF;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem 0rem;
    text-align: center;
    overflow: hidden;
}   
.container h1{
    color: #01319F;
    font-size: 3rem;
    font-weight: bolder;
    -webkit-text-stroke: 2px #01319F;
    letter-spacing: 1px;
    margin-bottom: 5rem;

}
.selectSection{
    width: 70%;
    margin: auto;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.selectSection > div {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.selectSection > div{
    /* background-color: red; */
}
.selectSection > div > label{
    color: #083191b2;
}
.selectSection .continentSelect select{
  color: #00BF83;
  transition: transform linear;

}
.selectSection .selectCountry select{
    color: #FECA00;
    text-overflow: ellipsis;
}
.selectSection .selectAge select{
    color: #0131A0;
}
.resultInfo{   
    position: relative;
    top: 0px;
    /* width: 100vw; */
    height: fit-content;
    background-color: rgba(1, 34, 111, 0.87);
    padding: 0;
    transform: skewY(4deg);
    background-image: url("./player1.svg");
    background-size: 20%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}
.resultInfo:before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
    transform: skewY(4deg);

}
.resultContainer{
    max-width: 50rem;
    transform: skewY(-4deg);
    width: 80%;
    margin: 0 auto;
    /* margin-left:10%; */
    text-align: left;
    padding:6rem 4rem 4rem 4rem;
}

.resultContainer > div{
    display: flex;
    padding-bottom: 5rem;

}
.resultContainer > div > .resultData{
    width: 100%;
}
.resultContainer > div > .age{
    text-align: center;
}
.resultContainer > div > div > label{
    color: #f0f0f0da;
}
.resultContainer > div > div > h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #FDFBEF;
}
.selectSection > div > label{
    padding-left:5px;
    font-size: 14px;
}
select,input{
    width: 12rem;
    border:none;
    background-color: transparent;
    font-weight: 900;
    padding: .1em 0rem;
    font-size: 1.8rem;

    /* background-color: rgba(1, 34, 111, 0.87); */
}
select:required:invalid {
    color: rgba(206, 206, 206, 0.505);
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }

input{
    color: #0131A0;
}
input::placeholder{
    color: rgba(206, 206, 206, 0.505);

}
.hidden{
    display: none;
}

.slide-bottom {
    -webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
            animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
  }

  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50%{
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
    } 
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }